.d-flex {
	display: flex !important;
}
.btn {
	border: 0;
	border-radius: 12px;
	height: 40px;
	font-weight: 500;
	font-family: inherit;

	&:hover {
		cursor: pointer;
	}
}

.btn-primary {
	color: #ffffff;
	background-color: #3f6c6b;
	border-color: #3f6c6b;
}

.btn-secondary {
	color: #ffffff;
	background-color: #ee5c5c;
	border-color: #ee5c5c;
}

.btn-close {
	display: flex;
	justify-content: center;
	color: #7a8598;
	font-size: 16px;
	font-weight: 600;
}
