.section-charts {
	padding: 20px 0;
	position: relative;

	.cardbox-chart {
		height: 250px;
		padding: 15px;
		border: 1px solid #dfe1e6;
		border-radius: 12px;
		margin-bottom: 10px;

		.num-vertical {
			display: flex;
			position: absolute;
			justify-content: space-between;
			width: 285px;
			height: 16px;
			left: 65px;
			margin-top: 155px;
		}

		.bar-chart-data {
			display: flex;
			align-items: center;
		}

		.cardbox-wrapper {
			display: flex;
			justify-content: space-between;

			.month-horizontal {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 25px;
				height: 142px;
			}
			.chart-svg {
				width: 352px;
				height: 176px;
			}

			.pie-chart-data {
				width: 180px;
				height: 180px;
				padding: 0 24px;
				position: relative;
				flex-direction: column;
				justify-content: center;
				margin-left: 45px;

				.bulletin1 {
					position: absolute;
					top: 20%;
					left: 5px;
				}
				.bulletin2 {
					position: absolute;
					top: 50%;
					left: 5px;
				}
			}
		}
	}
}

// styles in card-chart-one
svg > line.line-base {
	stroke: #f7e8e5;
	stroke-width: 2.5;
}

svg > line.line-front {
	stroke: #e66e3b;
	stroke-dasharray: 35;
}

// styles in card-chart-two
svg > line {
	stroke: #c2d9d7;
	stroke-width: 2.5;
	stroke-linecap: round;
}

svg > line.bar-charts10 {
	stroke-dasharray: 10;
}
svg > line.bar-charts11 {
	stroke-dasharray: 11;
}
svg > line.bar-charts12 {
	stroke-dasharray: 12;
}
svg > line.bar-charts13 {
	stroke-dasharray: 13;
}
svg > line.bar-charts14 {
	stroke-dasharray: 14;
}
svg > line.bar-charts15 {
	stroke-dasharray: 15;
}
svg > line.bar-charts16 {
	stroke-dasharray: 16;
}
svg > line.bar-charts17 {
	stroke-dasharray: 17;
}
svg > line.bar-charts18 {
	stroke-dasharray: 18;
}
svg > line.bar-charts19 {
	stroke-dasharray: 19;
}
svg > line.bar-charts20 {
	stroke: #315858;
	stroke-dasharray: 20;
}

// styles in card-chart-three
.pie-chart_base {
	animation: pie-chart-fill 2s reverse;
	transform: rotate(-90deg);
	transform-origin: center;
}

.pie-chart_front {
	animation: pie-chart-appear 2s forwards;
	opacity: 0;
	transform: translateY(0.3em);

	.pie-chart_percent {
		font-family: inherit;
		font-weight: 700;
	}
}

@keyframes pie-chart-fill {
	to {
		stroke-dasharray: 0 471;
	}
}

@keyframes pie-chart-appear {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
