.container {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;

	.animation {
		animation: slideup 1s forwards;
	}
}

.section--table {
	margin-top: 10px;
	position: relative;

	.table-title {
		width: 100%;
		border-spacing: 0 20px;

		thead {
			height: 40px;

			th {
				font-size: 16px;
				font-weight: 400;
				text-align: left;
				color: #566376;
			}

			th:first-child {
				text-align: center;
			}
		}

		tbody {
			tr {
				&:hover {
					background-color: #f5f5f5;
				}

				td:first-child {
					text-align: center;
					border-top-left-radius: 12px;
					border-bottom-left-radius: 12px;
					border-left: 1px solid #dfe1e6;
				}
				td:last-child {
					border-top-right-radius: 12px;
					border-bottom-right-radius: 12px;
					border-right: 1px solid #dfe1e6;
				}
			}
			td {
				border-top: 1px solid #dfe1e6;
				border-bottom: 1px solid #dfe1e6;
				height: 80px;
				// background-color: maroon;
			}
		}
	}
}

.modal-float {
	display: flex;
	position: absolute;
	justify-content: space-between;
	padding: 16px 24px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	align-items: center;
	text-align: center;
	background-color: #fff;
	border: 1px solid #dfe1e6;
	border-radius: 12px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
	animation: slideup 1s forwards;
}

@keyframes slideup {
	0% {
		bottom: 0%;
		opacity: 0;
	}
	100% {
		bottom: 10%;
		opacity: 1;
	}
}

.offline-mode {
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
	z-index: 10;
	animation: fadein 1s forwards;
}

.offline-modal-mode {
	width: 460px;
	height: 276px;
	background-color: rgba(255, 255, 255, 1);
	padding: 30px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 10px;
	z-index: 999;

	button {
		position: absolute;
		top: 2%;
		right: 3%;
	}

	h1 {
		margin: 15px auto;
		font-size: 24px;
		color: #363d4a;
		font-weight: 600;
	}

	p {
		color: #566376;
		margin: 3px auto;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}

.section-cookies {
	height: 60px;
	display: flex;
	padding: 0 40px;
	gap: 8px;
	align-items: center;
	position: relative;
	background-color: #ecedf1;

	&-hide {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}

	.btn-hide {
		font-size: 16px;
		color: #4c9aff;
		text-decoration: underline;
		position: absolute;
		top: 7.5px;
		left: 270px;
	}
}
