@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
}
html,
body {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

html {
	line-height: 1;
}

body {
	margin: 0;
	overflow-x: hidden;
}

main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	margin: 0;
	padding: 0;
}
