.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.row > * {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
	.col-md-3 {
		flex: 0 0 auto;
		width: 25%;
	}
	.col-md-4 {
		flex: 0 0 auto;
		width: 33.33333333%;
	}
	.modal-float {
		width: 534px;
		height: 68px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
	.modal-float {
		width: 534px;
		height: 68px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
	.modal-float {
		width: 534px;
		height: 68px;
	}
}
@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
	.modal-float {
		width: 534px;
		height: 68px;
	}
}
