/* Custom checkbox in tables */

.custom-checkbox {
	position: relative;
}

.custom-checkbox input[type='checkbox'] {
	opacity: 0;
	position: absolute;
	margin: 5px 0 0 3px;
	z-index: 9;

	&:hover {
		cursor: pointer;
	}
}

.custom-checkbox label:before {
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #b0b7c3;
	border-radius: 3px;
	box-sizing: border-box;
	vertical-align: text-top;
	background: white;
	margin-right: 10px;
	content: '';
	z-index: 2;
}

.custom-checkbox input[type='checkbox']:checked + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 2px;
	width: 4px;
	height: 9px;
	border: solid #000;
	border-width: 0 2px 2px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg);
}

.custom-checkbox input[type='checkbox']:checked + label:before {
	border-color: #315858;
	background: #315858;
}

.custom-checkbox input[type='checkbox']:checked + label:after {
	border-color: #fff;
}

.custom-checkbox input[type='checkbox']:disabled + label:before {
	color: #b8b8b8;
	cursor: auto;
	box-shadow: none;
	background: #ddd;
}
